
      #Class1{
        text-decoration: line-through;
      }
      #Class2{
        text-shadow: 4px 4px #ff0000;
      }     
      #TheThird{
        transform: rotate(180deg); 
      }
      body{
        background-image: url("website_background.png");
      }
