  <style>
      p#Class1{
        text-decoration: line-through;
      }
      p#Class2{
        text-shadow: 4px 4px #ff0000;
      }     
      p#TheThird{
        transform: rotate(180deg); 
      }
      body{
        background-image: url(website_background.png);
      }
    </style>
  /*border-width: 4px;
  border-style: solid;
  border-color: crimson;*/
